<!--
<nav>
    <a href="/">Home</a>
    |
    <a href="/user">User</a>
  </nav>
 <router-outlet/>
-->

<nav>
    <a href="/">Home</a>
    |
    <a href="/user">User</a>
</nav>

<app-my-component></app-my-component>
{{title}}
<br>
{{city}}
<br>
{{1+2}}

<img ngSrc="https://placehold.co/800x800" width="800" height="800" priority />

@if(isLoggedIn){
<p>Bem vindo!</p>
}

@for (os of operatingSystems; track os.id) {
{{ os.name }}
}

<div [contentEditable]="isEditable"></div>

<button (click)="greet()">Clique Aqui</button>

<br>

{{ message }}

<section (mouseover)="onMouseOver()"></section>

<app-user occupation="Angular Developer" (addItemEvent)="addItem()"></app-user>

@defer {
<app-my-component />
} @placeholder(minimum 2ms) {
<p>Future comments</p>
} @loading(minimum 3s) {
<p>Loading comments...</p>
}

<img ngSrc="https://placehold.co/200x200" width="200" height="200" loading="lazy" />
<br>
<p>{{favoriteFramework}}</p>
<label for="framework">
    Favorite Framework:
    <input id="framework" type="text" [(ngModel)]="favoriteFramework" />
</label>
<button (click)="showFramework()">Show Framework</button>

<h2>Profile Form</h2>
<p>Name: {{ profileForm.value.name }}</p>
<p>Email: {{ profileForm.value.email }}</p>

<form [formGroup]="profileForm"  (ngSubmit)="handleSubmit() " >
    <label>Name
        <input type="text"formControlName="name" />
    </label>
    <label>Email
        <input type="email"formControlName="email" />
    </label>
    <button type="submit" [disabled]="!profileForm.valid" >Submit</button>
</form>